@media screen and (max-width: 720px) {

/* @media screen and (min-device-width: 375px) and (max-device-width: 1366px) */

/* bloc page */

#bloc_page {
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/* Header */

  header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    height: auto;
  }

  header #logo img{
    width: auto;
    height: 40px;
  }

  header #logo {
    padding-left: 25px;
  }

  header .inscription {
    display: flex;
  }

  header nav {
    display: flex;
    width: 100%;
    order: 3;
  }

  header nav a {
    display: inline-block;
    text-align: center;
    width: 100%;
    align-items: center;

    border-bottom: 6px solid #F2F2F2;
    border-top: none;
  }

  header nav a.active,
  header nav a:hover {
    color: #0065FC;
    border-top: none;
    border-bottom: 6px solid #0065FC;
  }

  header a.inscription {
    order: 2;

  }

/* Titres Sub Header */

#titresubheader {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 0px 25px;
}

#titresubheader h1 {
  margin-bottom: 10px;
}

#titresubheader h2 {
  margin-bottom: 25px;

}

/** Bouton geolocate **/

form#recherche  {
  width: 100%
}

form#recherche input {
  flex-grow: 1;
}

form#recherche input::placeholder {
}

form#recherche button.search {
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

form#recherche button.search i {
 display: block;
}

form#recherche button.search span {
  display: none;
}
/* Filtres */

#filtres {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

h3 {
  display: flex;
  align-self: flex-start;
  margin-bottom: 20px;

}

#filtres nav {
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
}

#filtres nav a {

  margin: 0px 9px 12px 0px;
  border: #e6e6e6 2px solid;
  border-radius: 90px;
}

#filtres a i {
  color: #0065FC;
  background-color: #DEEBFF;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  border-color:  #DEEBFF;
}

#filtres nav a span {
  margin: 0;
  padding: 0.5em;
}

/* Infos */

#infos {
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
  padding: 0px 25px 30px;
  padding-top: 10px;
}

#infos i{
  padding: 5px 8px;
  color: #0065FC;
  border: #e6e6e6 2px solid;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}

#infos h4 {
  padding-left: 0px;
}

/* Hébergements */

#hebergements {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  padding: 0;
  }

#hebergements #populaires {
  width: 100%;
  border-radius: 0px;
  }

#titrepopulaires {
  display: flex;
  justify-content: space-between;
  padding: 40px 10px 25px 0px;
}

#titrepopulaires i {

}

#populaires .populaires {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 90%;
    height: 140px;
    border: 5px white solid;
    border-radius: 15px;
    color: black;
    text-decoration: none;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .1);
}

#populaires h1 {
  font-size: 1.5em;
  padding-left: 20px;
}

#populaires {
  padding: 0px 0px 30px;
}

#populaires h1 {
  font-size: 1.5em;
  padding-left: 20px;
}

#listepopulaires a {
  margin: 0px 0px 10px;
}

#populaires img {
  max-width: 120px;
  height: 130px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#populaires .descriptlocright {
  font-size: 1em;
  padding: 10px 30px 0px 20px;
  justify-content: flex-start;
}

#populaires a .prix {
font-size: 0.9em;
padding-top: 10px;
padding-bottom: 40px;
}

#populaires .rating {
font-size: 0.8em;
}

#hebergementsmarseille {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 50px;
  background-color: white;
  color: black;

  width: 100%;
  height: 100%;
}

#hebergementsmarseille h1 {
  display: flex;
  justify-content: space-between;
  padding: 45px 0px 55px;
  width: 100%;
}

#hebergementsmarseille #listelogements {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  height: auto;
}

#hebergementsmarseille .hebergement {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 470px;
  margin-bottom: 30px;
  border-radius: 50px;
}

#hebergementsmarseille img {
  max-height: 275px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  object-position: 50% 50%;
  object-fit: cover;
  padding: 5px 5px 0px 5px;
}

#hebergementsmarseille p {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 800;
  color: black;
  padding-top: 50px;
}

#hebergementsmarseille .descriptlocleft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 0px 0px 0px 30px;
}

#hebergementsmarseille .descriptlocleft span {

  margin: 0px;
  padding: 10px 0px 10px;
}

#hebergementsmarseille .descriptlocleft .rating {

    padding-top: 10px;
}

/* Activités */

#activites {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 50px;
  background-color: white;
  color: black;
  width: 100%;
  height: auto;
  margin-top: 0px;
}

#activites h1 {
  display: flex;
  justify-content: space-between;

  padding: 45px 0px 55px;
  width: 100%;
}

#activites #listeactivites {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
}

#activites #listeactivites .vignetteContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 470px;
  margin-bottom: 30px;
  border-radius: 50px;
}

#activites .vignettePetites, #activites .vignetteMoyennes, #activites .vignetteGrandes {
/*  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  max-width: 100%;
  height: 480px;
  margin-bottom: 50px;
  border-radius: 50px;*/
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 470px;
  margin-bottom: 30px;
  border-radius: 50px;
}

#activites #listeactivites img {
  max-height: 330px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  object-position: 50% 50%;
  object-fit: cover;
  }

#activites #listeactivites .descriptactivites {

  padding: 55px 0px 15px 50px;
}

/* Footer */

footer {
  display: flex;
  background-color: #F2F2F2;
  padding: 50px 0 50px;
  margin-top: 30px;
  width: 100%;
}

footer #container_footer {
  display: flex;
  flex-direction: column;
  padding: 0px 80px;
  width: 100%;
}

footer h3 {

  margin: 65px 0px 0px;
  width: 100%;
}

footer .footerCategory {

  width: 100%;
  margin-top: 10px;
}

footer nav {
  margin: 30px 0px 25px 0px;
}

footer a {

  margin: 10px 0 10px;
}

}

@media screen and (max-width: 1024px) {

}

/* End */
