/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCGPrcVIT9d0c-dYA.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrcVIT9d0c8.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 698;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 698;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    min-width: 900px;
    max-width: 1500px;
}

h1 {
  font-weight: bold;
  font-size: 1.2em;
}

h2 {
  font-size: 0.9em;
  font-weight: 400;
}

h3 {
  font-weight: bold;
  font-size: 1.1em;
}

h4 {
  font-size: 0.8em;
}


#bloc_page {
    margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #logo{
}


/* Navigation */

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  font-size: 1em;
  color: #000000;
  padding: 30px;
  text-decoration: none;
  border-top: 3px solid transparent;
}

nav .inscription {
  font-weight: bold;
  color: #0065FC;
}

nav a:hover {
  color: #0065FC;
  border-top: 3px solid #0065FC;

}

/* Formulaire */

#box {
  display: flex;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
  height: 45px;
  width: 45px;
  border: 1px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.iconmap {
}

form {
  display: flex;
}

.conteneur {
  display: flex;
}

.conteneur input#localisation {
  font-weight: bold;
  color: black;
  font-size: 1em;
  font-weight: 400;
  width: 210px;
  height: 45px;
  background: #white;
  border-color: rgba(232, 232, 232, .6);
  padding-left: 10px;
}

::placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: black;
  font-weight: 700;
  margin-left: 5px
}

form button {
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: #0065FC;
  width: 120px;
  height: 45px;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* Filtres */

#filtres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.filtres {
  border: #F2F2F2 2px solid;
  border-radius: 35px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 10px;
  padding-bottom: 200px;
}

section #filtres ul {
  font-weight: bold;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

section #filtres li a {
  float: right;
  font-size: 1em;
  color: #000000;
  padding-bottom: 3px;
  text-decoration: none;
  margin-left: 60px;
}

#hebergementsmarseille {
  border-color: black;
  background-color: #F2F2F2;
  border-radius: 15px;
  padding: 10px;
  color: black;
  font-size: 0.9em;
  width: 70%;
}

#hebergementsmarseille .Hebergement {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

#hebergementsmarseille img {
  width: 200px;
  height: 200px;
}

#Populaires {
  border-color: black;
  background-color: #F2F2F2;
  border-radius: 15px;
  padding: 10px;
  color: black;
  font-size: 0.9em;
  width: 25%;
}

#Populaires img {
  width: 200px;
  height: 200px;
}

#articleaside {
  display: flex;
  justify-content: space-around;
}

#activites img {
  width: 200px;
  height: 200px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-right: 1600px
}

footer h4 {
  font-weight: bold;
  font-size: 1em;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  color: black;
}
