/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCGPrcVIT9d0c-dYA.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrcVIT9d0c8.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 698;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 698;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 1.4em;
}

h2 {
  font-size: 0.9em;
  font-weight: 400;
}

h3 {
  font-weight: 550 ;
  font-size: 1.1em;
}

h4 {
  font-size: 0.8em;
  font-weight: 400;
}


#bloc_page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 900px;
  max-width: 1400px;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

header #logo{
  flex-grow: 1;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  font-size: 1em;
  color: #000000;
  padding: 30px;
  text-decoration: none;
  border-top: 3px solid transparent;
}

header nav a.active,
header nav a:hover {
  color: #0065FC;
  border-top: 3px solid #0065FC;

}

header .inscription {
  font-weight: bold;
  color: #0065FC;
  text-decoration: none;
  padding: 30px;
}

/* Formulaire */

#box {
  display: flex;
}

.squaremapicon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
  height: 40px;
  width: 45px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.iconmap {
}

form {
  display: flex;
}

.conteneur {
  display: flex;
}

.conteneur input#localisation {
  font-weight: bold;
  color: black;
  font-size: 0.9em;
  font-weight: 600;
  width: 210px;
  height: 40px;
  background: #white;
  border: 1px rgba(232, 232, 232, 0.5) solid;
  padding-left: 10px;
}

::placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: black;
  font-weight: 600;
  margin-left: 5px
}

form button {
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: #0065FC;
  width: 120px;
  height: 40px;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

form button .loupe {
  display:none;
}

/* h1 h2 sous le header */

#titresubheader {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
}


/* Filtres */

#filtres {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  font-weight: 550;
  padding: 25px 0px 25px;
  padding-left: 50px;
  padding-right: 50px;
}

#filtres a i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #0065FC;
  background-color: #DEEBFF;
  width: 40px;
  height: 40px;
  border: none;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}

#filtres nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 30px;
}

#filtres nav a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  padding-right: 20px;
  margin-right: 2em;
  flex-direction: row;
  align-content: flex-start;
  border: #e6e6e6 2px solid;
  border-radius: 35px;
}

#filtres nav a:hover {
  color: #0065FC;
}

#filtres nav a span {
  margin-left: 10px;
}


/* Informations */

#infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

#infos i{
  font-size: 0.8em;
  padding: 3px 6px;
  color: #0065FC;
  border: #e6e6e6 1px solid;
  border-radius: 100%;
}

#infos h4 {
  margin-left: 15px;
}

/* hebergements à Marseille*/

#hebergements {
  padding-left: 30px;
  padding-right: 50px;
  flex-wrap: wrap;
}

#hebergementsmarseille {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background-color: #F2F2F2;
  border-radius: 15px;
  color: black;
  font-size: 0.9em;
  width: 68%;
  height: 600px;
}

#hebergementsmarseille .hebergement{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 250px;
  height: 210px;
  border: 5px white solid;
  border-radius: 15px;
  color: black;
  text-decoration: none;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .2);
  justify-content: flex-start;
}

#hebergementsmarseille .hebergement span {
  margin-top: 3px;
  margin-bottom: 3px;
}

#hebergementsmarseille img {
  display: flex;
  object-position: 50% 50%;
  object-fit: cover;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
  max-height: 140px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#hebergementsmarseille #listelogements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  height: 440px;
}

#listelogements a {
  display: flex;
  align-content: flex-end;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

#hebergementsmarseille a:hover {
  color: #0065FC;
}

#hebergementsmarseille .descriptlocleft {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

#hebergementsmarseille a .prix {
  font-size: 0.9em;
  font-weight: 400;
}

#hebergementsmarseille h1, p {
  padding-left: 10px;
}

#hebergementsmarseille p {
  font-size: 1.1em;
  font-weight: 800;
}

#hebergementsmarseille p a {
  text-decoration: none;
  color: #000000;
}

#hebergementsmarseille p a:hover {
  color: #0065FC;
  text-decoration: none;
}

#hebergementsmarseille .rating {
  display: flex;
  align-items: baseline;
  color: #0065FC;
}

#hebergementsmarseille .rating .greystar {
  color: #c1c1c1;
}

/* Les plus Populaires */

#populaires {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-color: black;
  background-color: #F2F2F2;
  border-radius: 15px;
  padding: 10px;
  color: black;
  font-size: 0.9em;
  width: 28%;
}

#populaires h1 {
  padding-left: 25px;
}

#titrepopulaires {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 17px;
}

#titrepopulaires i {
  font-size: 20px;
}

#populaires #listepopulaires {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#populaires .populaires{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  width: 90%;
  height: 140px;
  border: 5px white solid;
  border-radius: 15px;
  color: black;
  text-decoration: none;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .1);
}

#populaires img {
  display: flex;
  justify-content: center;
  align-content: center;
  object-position: 50% 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 140px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#hebergements {
  display: flex;
  justify-content: space-around;
}

#populaires .descriptlocright {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.1em;
  font-weight: 800;
  padding-left: 10px;
}

#listepopulaires a {
  display: flex;
  margin-top: 14px;
  margin-bottom: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

#populaires a .prix {
  font-size: 0.9em;
  font-weight: 400;
}

#populaires a:hover {
  color: #0065FC;
}

#populaires .rating {
  display: flex;
  align-items: baseline;
  color: #0065FC;
}

#populaires .rating .greystar {
  color: #c1c1c1;
}

section {
    display: flex;
    flex-direction: column;
}

/* Activités */

#activites {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
  border-color: black;
  background-color: white;
  border-radius: 15px;
  color: black;
  font-size: 0.9em;
  width: 100%;
  height: 500px;
}

#activites #listeactivites {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

#listeactivites .descriptactivites {
  display: flex;
  flex-direction: column;
  padding: 15px 0px 15px 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;

}

#activites #listeactivites #groupegauche{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 410px;
  width: 750px;
}

#activites #listeactivites #groupedroite{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 410px;
  width: 750px;
}

#activites .vignetteverticale {
  background-color: white;
  width: 290px;
  height: 405px;
  border: 0px white solid;
  border-radius: 15px;
  color: black;
  text-decoration: none;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .2);
}

#activites .vignetteverticale img {
  display: flex;
  justify-content: center;
  align-content: center;
  object-position: 50% 50%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 100%;
  max-height: 355px;
}

#activites .vignettemoyenne {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 295px;
  height: 205px;
  border: 0px white solid;
  border-radius: 15px;
  color: black;
  text-decoration: none;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .2);
}

#activites .vignettemoyenne img {
  display: flex;
  justify-content: center;
  align-content: center;
  object-position: 50% 50%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 100%;
  max-height: 155px;
}

#activites .vignettehorizontale {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 290px;
  height: 160px;
  border: 0px white solid;
  border-radius: 15px;
  color: black;
  text-decoration: none;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .2);
}

#activites .vignettehorizontale img {
  display: flex;
  justify-content: center;
  align-content: center;
  object-position: 50% 50%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 100%;
  max-height: 110px;
}

#activites p a:hover {
  color: #0065FC;
  text-decoration: none;
}

/* Footer */

footer {
  display: flex;
  width: 100%;
  background-color: #F2F2F2;
  padding: 20px 50px 50px;
  margin-top: 30px;
}

footer #container_footer {
  display: flex;
  margin: 0 auto;
  width: 1400px;
  padding: 0px 50px;
  flex-wrap: wrap;
}

footer .footerCategory {
  display: flex;
  flex-direction: column;
  width: 33%;
  min-width: 250px;
  margin-top: 30px;
}

footer .footerCategory .listCategory {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .footerCategory .listCategory nav {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

footer .footerCategory .listCategory nav a {
  padding-top: 15px;
}

footer h4 {
  font-weight: bold;
  font-size: 1em;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: #0065FC;
}
